@import "tailwindcss";

@theme {
  --animate-slide-left: slide-left 15s linear infinite;
  --animate-slide-right: slide-right 15s linear infinite;

  @keyframes slide-left {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
  }

  @keyframes slide-right {
    0% { transform: translateX(-50%); }
    100% { transform: translateX(0%); }
  }
}
html {
  scroll-behavior: smooth;
}
